<h1>Submitted Information</h1>
<p><strong>First Name:</strong> <%= @form_data[:firstName] %></p>
<p><strong>Last Name:</strong> <%= @form_data[:lastName] %></p>
<p><strong>Birthday:</strong> <%= @form_data[:birthday] %></p>
<p><strong>Gender:</strong> <%= @form_data[:gender] %></p>
<p><strong>Email:</strong> <%= @form_data[:email] %></p>
<p><strong>Phone Number:</strong> <%= @form_data[:phone] %></p>
<p><strong>Subject:</strong> <%= @form_data[:subject] %></p>
<%= link_to 'Back', new_forms_path %>
